<%- include('../inc/head')  %> 
<div class="wrapper">
    <%- include('../inc/navi')  %> 
    <!-- 본문내용 -->
    <section class="about-wrap content-wrapper">
        <%- include('../inc/title-bar') %> 
        <div class="about-wrap">
            <div class="img-wp">
                <img src="/img/f1.jpg" alt="img" class="w100">
            </div>
            <div class="content-wp">
                <%= content %> 
            </div>
        </div>
    </section>
    <!-- 본문내용.끝 -->
    <%- include('../inc/footer')  %> 
</div>
<%- include('../inc/foot')  %> 